version: "3.9"

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  temporal:
    image: temporalio/temporal:latest
    environment:
      DB: postgresql
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PWD: ${POSTGRES_PASSWORD}
      POSTGRES_SEEDS: ${POSTGRES_HOST}
    depends_on:
      - postgres
    ports:
      - "${TEMPORAL_PORT}:7233"

  temporal-ui:
    image: temporalio/ui:latest
    ports:
      - "${TEMPORAL_UI_PORT}:8080"
    environment:
      TEMPORAL_ADDRESS: "temporal:7233"
    depends_on:
      - temporal

volumes:
  pgdata:
